.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

.canvas {
  // border: 1px solid;
  // filter: blur(1px);
  // filter: brightness(0.4);
  // filter: contrast(100%);
  // filter: drop-shadow(0px 0px 0px #343434);
  // filter: grayscale(50%);
  // filter: hue-rotate(90deg);
  // filter: invert(75%);
  // filter: opacity(25%);
  // filter: saturate(30%);
  // filter: sepia(60%);
}